@using WebDevelopment.Models.ViewModels
@model CreateCourseViewModel

@{
    ViewData["Title"] = "Add new course";
}

<h1>Use the form below to add new course</h1>
@if (ViewBag.CourseResponse != null)
{
    <div class="alert alert-info">
        @ViewBag.CourseResponse
    </div>
}
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddCourse" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unit" class="control-label"></label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
               @*  <div class="form-group">
                    <label class="control-label">Select Image</label>
                    <input name="file" type="file" class="form-control" />
                </div> *@
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label name="Lessons" class="control-label"></label>
                    <input type="text" name="Lesson1" class="form-control" />
                    <input type="text" name="Lesson2" class="form-control" />
                    <input type="text" name="Lesson3" class="form-control" />
                   
                </div>

                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}